body {
	color: #ffffff;
	font-size: 20px;
	font-family: Comic sans MS, Arial;
	text-align: center;
	background-color: #000033
		}
a {
	color: #ffffff;
	text-decoration: none
		}
header {
	background: url(blue.jpg);
	height: 150px;
	margin-top: 50px
		}
sidebar {
	background: url(real.jpg) no-repeat;
	width: 20%;
	height: 300px;
	float: right;
	margin-top: 50px;
	margin-right: 70px
		}
sidebar:hover{
	background: url(woman.jpg) no-repeat
		}
footer {
	background: url(hearts.jpg) no-repeat;
	width: 20%;
	height: 300px;
	float: left;
	margin-top: 50px;
	margin-left: 50px
		}
footer:hover{
	background: url(judge.jpg) no-repeat
		}
content {
	background: #000055;
	width: 20%;
	float: left;
	margin-top: 50px;
	margin-left: 50px
		}
p {
	background: url(blue.jpg);
	width: 150px;
	border-color: #0000ff;
	border-width: 2px;
	border-radius: 10px;
	margin-left: 70px
		}
p:hover {
	background: #000033
		}
div {
	color: #000055
		}
div:hover {
	color: #000077
		}
